@import "~govuk-frontend/dist/govuk/base";

.govuk-back-link.back-link-style-override:hover,
.govuk-back-link.back-link-style-override a:hover {
  color: #0b0c0c;
  text-decoration: none;
  border-color: #0b0c0c;
}
