// src/components/CardColumn/CardColumn.scss
@use "~bootstrap/scss/bootstrap";

.card-link {
  color: #1d70b8;
}

.card-link :hover {
  color: #003078;
  border-color: #fd0;
}

.card-header {
  padding-bottom: 65px;
  color: #005ea5;

  &:hover {
    color: #f8f8f8;
    background-color: #005ea5;
    transition-duration: 0.3s;
  }

  &:active {
    background-color: gold;
    border-bottom: #000 groove;
    transition: ease-in-out;
  }
}

.card-styles {
  height: 100%;

  & a {
    &:hover {
      text-decoration: none;
    }
  }
}
