$govuk-images-path: "~govuk-frontend/dist/govuk/assets/images/";
$govuk-fonts-path: "~govuk-frontend/dist/govuk/assets/fonts/";
$govuk-assets-path: "~govuk-frontend/dist/govuk/assets/";

@use "~govuk-frontend/dist/govuk/base" as *;
@use "~govuk-frontend/dist/govuk/core/index" as govuk-core;
@use "~govuk-frontend/dist/govuk/objects/index" as govuk-objects;
