.centered-wheel {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loading-frames {
  0%,
  100% {
    box-shadow:
      0 -2.6em 0 0 #000,
      1.8em -1.8em 0 0 rgb(0 0 0 / 20%),
      2.5em 0 0 0 rgb(0 0 0 / 20%),
      1.75em 1.75em 0 0 rgb(0 0 0 / 20%),
      0 2.5em 0 0 rgb(0 0 0 / 20%),
      -1.8em 1.8em 0 0 rgb(0 0 0 / 20%),
      -2.6em 0 0 0 rgb(0 0 0 / 50%),
      -1.8em -1.8em 0 0 rgb(0 0 0 / 70%);
  }

  12.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 70%),
      1.8em -1.8em 0 0 #000,
      2.5em 0 0 0 rgb(0 0 0 / 20%),
      1.75em 1.75em 0 0 rgb(0 0 0 / 20%),
      0 2.5em 0 0 rgb(0 0 0 / 20%),
      -1.8em 1.8em 0 0 rgb(0 0 0 / 20%),
      -2.6em 0 0 0 rgb(0 0 0 / 20%),
      -1.8em -1.8em 0 0 rgb(0 0 0 / 50%);
  }

  25% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 50%),
      1.8em -1.8em 0 0 rgb(0 0 0 / 70%),
      2.5em 0 0 0 #000,
      1.75em 1.75em 0 0 rgb(0 0 0 / 20%),
      0 2.5em 0 0 rgb(0 0 0 / 20%),
      -1.8em 1.8em 0 0 rgb(0 0 0 / 20%),
      -2.6em 0 0 0 rgb(0 0 0 / 20%),
      -1.8em -1.8em 0 0 rgb(0 0 0 / 20%);
  }

  37.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 20%),
      1.8em -1.8em 0 0 rgb(0 0 0 / 50%),
      2.5em 0 0 0 rgb(0 0 0 / 70%),
      1.75em 1.75em 0 0 #000,
      0 2.5em 0 0 rgb(0 0 0 / 20%),
      -1.8em 1.8em 0 0 rgb(0 0 0 / 20%),
      -2.6em 0 0 0 rgb(0 0 0 / 20%),
      -1.8em -1.8em 0 0 rgb(0 0 0 / 20%);
  }

  50% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 20%),
      1.8em -1.8em 0 0 rgb(0 0 0 / 20%),
      2.5em 0 0 0 rgb(0 0 0 / 50%),
      1.75em 1.75em 0 0 rgb(0 0 0 / 70%),
      0 2.5em 0 0 #000,
      -1.8em 1.8em 0 0 rgb(0 0 0 / 20%),
      -2.6em 0 0 0 rgb(0 0 0 / 20%),
      -1.8em -1.8em 0 0 rgb(0 0 0 / 20%);
  }

  62.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 20%),
      1.8em -1.8em 0 0 rgb(0 0 0 / 20%),
      2.5em 0 0 0 rgb(0 0 0 / 20%),
      1.75em 1.75em 0 0 rgb(0 0 0 / 50%),
      0 2.5em 0 0 rgb(0 0 0 / 70%),
      -1.8em 1.8em 0 0 #000,
      -2.6em 0 0 0 rgb(0 0 0 / 20%),
      -1.8em -1.8em 0 0 rgb(0 0 0 / 20%);
  }

  75% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 20%),
      1.8em -1.8em 0 0 rgb(0 0 0 / 20%),
      2.5em 0 0 0 rgb(0 0 0 / 20%),
      1.75em 1.75em 0 0 rgb(0 0 0 / 20%),
      0 2.5em 0 0 rgb(0 0 0 / 50%),
      -1.8em 1.8em 0 0 rgb(0 0 0 / 70%),
      -2.6em 0 0 0 #000,
      -1.8em -1.8em 0 0 rgb(0 0 0 / 20%);
  }

  87.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 20%),
      1.8em -1.8em 0 0 rgb(0 0 0 / 20%),
      2.5em 0 0 0 rgb(0 0 0 / 20%),
      1.75em 1.75em 0 0 rgb(0 0 0 / 20%),
      0 2.5em 0 0 rgb(0 0 0 / 20%),
      -1.8em 1.8em 0 0 rgb(0 0 0 / 50%),
      -2.6em 0 0 0 rgb(0 0 0 / 70%),
      -1.8em -1.8em 0 0 #000;
  }
}

@keyframes loading-frames {
  0%,
  100% {
    box-shadow:
      0 -2.6em 0 0 #000,
      1.8em -1.8em 0 0 rgb(0 0 0 / 20%),
      2.5em 0 0 0 rgb(0 0 0 / 20%),
      1.75em 1.75em 0 0 rgb(0 0 0 / 20%),
      0 2.5em 0 0 rgb(0 0 0 / 20%),
      -1.8em 1.8em 0 0 rgb(0 0 0 / 20%),
      -2.6em 0 0 0 rgb(0 0 0 / 50%),
      -1.8em -1.8em 0 0 rgb(0 0 0 / 70%);
  }

  12.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 70%),
      1.8em -1.8em 0 0 #000,
      2.5em 0 0 0 rgb(0 0 0 / 20%),
      1.75em 1.75em 0 0 rgb(0 0 0 / 20%),
      0 2.5em 0 0 rgb(0 0 0 / 20%),
      -1.8em 1.8em 0 0 rgb(0 0 0 / 20%),
      -2.6em 0 0 0 rgb(0 0 0 / 20%),
      -1.8em -1.8em 0 0 rgb(0 0 0 / 50%);
  }

  25% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 50%),
      1.8em -1.8em 0 0 rgb(0 0 0 / 70%),
      2.5em 0 0 0 #000,
      1.75em 1.75em 0 0 rgb(0 0 0 / 20%),
      0 2.5em 0 0 rgb(0 0 0 / 20%),
      -1.8em 1.8em 0 0 rgb(0 0 0 / 20%),
      -2.6em 0 0 0 rgb(0 0 0 / 20%),
      -1.8em -1.8em 0 0 rgb(0 0 0 / 20%);
  }

  37.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 20%),
      1.8em -1.8em 0 0 rgb(0 0 0 / 50%),
      2.5em 0 0 0 rgb(0 0 0 / 70%),
      1.75em 1.75em 0 0 #000,
      0 2.5em 0 0 rgb(0 0 0 / 20%),
      -1.8em 1.8em 0 0 rgb(0 0 0 / 20%),
      -2.6em 0 0 0 rgb(0 0 0 / 20%),
      -1.8em -1.8em 0 0 rgb(0 0 0 / 20%);
  }

  50% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 20%),
      1.8em -1.8em 0 0 rgb(0 0 0 / 20%),
      2.5em 0 0 0 rgb(0 0 0 / 50%),
      1.75em 1.75em 0 0 rgb(0 0 0 / 70%),
      0 2.5em 0 0 #000,
      -1.8em 1.8em 0 0 rgb(0 0 0 / 20%),
      -2.6em 0 0 0 rgb(0 0 0 / 20%),
      -1.8em -1.8em 0 0 rgb(0 0 0 / 20%);
  }

  62.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 20%),
      1.8em -1.8em 0 0 rgb(0 0 0 / 20%),
      2.5em 0 0 0 rgb(0 0 0 / 20%),
      1.75em 1.75em 0 0 rgb(0 0 0 / 50%),
      0 2.5em 0 0 rgb(0 0 0 / 70%),
      -1.8em 1.8em 0 0 #000,
      -2.6em 0 0 0 rgb(0 0 0 / 20%),
      -1.8em -1.8em 0 0 rgb(0 0 0 / 20%);
  }

  75% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 20%),
      1.8em -1.8em 0 0 rgb(0 0 0 / 20%),
      2.5em 0 0 0 rgb(0 0 0 / 20%),
      1.75em 1.75em 0 0 rgb(0 0 0 / 20%),
      0 2.5em 0 0 rgb(0 0 0 / 50%),
      -1.8em 1.8em 0 0 rgb(0 0 0 / 70%),
      -2.6em 0 0 0 #000,
      -1.8em -1.8em 0 0 rgb(0 0 0 / 20%);
  }

  87.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(0 0 0 / 20%),
      1.8em -1.8em 0 0 rgb(0 0 0 / 20%),
      2.5em 0 0 0 rgb(0 0 0 / 20%),
      1.75em 1.75em 0 0 rgb(0 0 0 / 20%),
      0 2.5em 0 0 rgb(0 0 0 / 20%),
      -1.8em 1.8em 0 0 rgb(0 0 0 / 50%),
      -2.6em 0 0 0 rgb(0 0 0 / 70%),
      -1.8em -1.8em 0 0 #000;
  }
}

.loading-wheel-2 {
  width: 1em;
  height: 1em;
  margin: 40px;
  font-size: 8px;
  text-indent: -9999em;
  border-radius: 50%;
  transform: translateZ(0);
  animation: loading-frames 1.1s infinite ease;
}

.loading-wheel {
  width: 1em;
  height: 1em;
  margin: 40px;
  margin-left: 25px;
  font-size: 8px;
  text-indent: -9999em;
  border-radius: 50%;
  transform: translateZ(0);
  animation: loading-frames 1.1s infinite ease;
}

.head-space {
  display: flex;
  align-items: center;
  justify-content: center;
}
