// src/index.scss
// GOV.UK design system
$govuk-images-path: "~govuk-frontend/dist/govuk/assets/images/";
$govuk-fonts-path: "~govuk-frontend/dist/govuk/assets/fonts/";
$govuk-assets-path: "~govuk-frontend/govuk/assets/";
$govuk-font-family: "Arial", sans-serif;

// $govuk-brand-colour: #87c426;

@use "~govuk-frontend/dist/govuk/index" as *;

$govuk-functional-colours: (brand: #87c426);
